.c-data-list {
    box-sizing: border-box;
    width: var(--column);
    max-width: var(--column-max);
    margin: 0 auto;
    padding: var(--s-40-55) var(--s-50-75);
    border: var(--border);
    border-radius: var(--radius);
    text-align: center;

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}