:root {
    --s-design-min: 375;
    --s-design-max: 1000;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-weight: 600;
    --body-size: var(--s-16-18);
    --heading-size: var(--s-25-36);
    --column: 500px;
    --column-max: 90%;
    --background: #1C1C1C;
    --foreground: #E4E4E4;
    --border: solid 2px var(--foreground);
    --radius: 4px;
}

.theme-light {
    --background: #E4E4E4;
    --foreground: #1C1C1C;
    --border: solid 2px var(--foreground);
}

.theme-soft {
    --background: #D9B8C4;
    --foreground: #703D57;
    --radius: 10px;
    --border: dotted 2px var(--foreground);
}

[class*="theme-"] {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    padding-bottom: 120px;
}

body {
    font-family: var(--font);
    font-size: var(--body-size);
    font-weight: var(--font-weight);
}

a {
    color: var(--foreground);

    &:hover {
        opacity: 0.75;
    }
}

.block {
    box-sizing: border-box;
    width: var(--column);
    max-width: var(--column-max);
    margin: 0 auto;
}
